# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE configs (optional)
.vscode/
.idea/

# App data (local only)
ussurochki_app/data/
*.sqlite
*.txt

# Build/packaging outputs
dist/
build/